
/* Scroll style */


body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #313334;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(100,101,101);

  }


html {
    scrollbar-color: rgb(100,101,101) #313334;
}




